langgraph==1.1.2
langchain-groq==1.1.2
langchain-google-genai==4.2.1
tavily-python==0.7.23
playwright==1.58.2
python-dotenv==1.2.2
pydantic==2.12.5
streamlit==1.55.0
trafilatura==2.0.0
playwright-stealth==2.0.2
